:root {
	--bg-color: #2c2f34 !important;
	--fg-color: #e4ebf5 !important;
	--shadow-color-1: #23262a !important;
	--shadow-color-2: #35383e !important;
	/* For scrollbar */
	--bg-color-inverted: #d3d0cb !important;
}

/* Start - Scrollbar */

* {
	scrollbar-width: auto;
	scrollbar-color: var(--bg-color-inverted) transparent;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-inverted);
	border: 4px solid var(--bg-color);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}

/* End - Scrollbar */
